/* All styles for your header Components live here */
.headerClass{
    display: flex;
    justify-content: flex-start;
}
.app {
    max-width: 800px;
}
.backgroundImage img {
    width: 800px;
    height: auto;
}