/* All styles for your header Components live here */
.headerClass{
    display: flex;
    justify-content: flex-start;
}
.app {
    max-width: 500px;
}
.backgroundImage img {
    width: 500px;
    height: auto;
}
